$color-bg-black:#141B1C;
$color-bg-gray: #334247;
$color-bg-dark-gray:#2A3438;

$color-bg-green:#5BB189;
$color-bg-blue:#3A6BA5;
$color-bg-orange:#EC632A;
$color-bg-tape:#DC3F45;

$color-text:#FFFFFF;
